@import "../../styles/var";

.profile {
  background: url(../../assets/img/main-home.jpg);
  background-size: cover;
  padding: 15vw 0 5vw 0;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 450px;
    margin: auto;

    input {
      width: 100%;
      margin: 1rem 0;
      font-size: 18px;
      border: none;
      border-bottom: 1px solid white;
      background: transparent;
      outline: none;
      color: white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    textarea {
      width: 100%;
      min-height: 4rem;
      margin: 1rem 0;
      font-size: 18px;
      border: 1px solid white;
      background: transparent;
      outline: none;
      color: white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    label {
      margin-top: 1rem;
      text-align: left;
      color: $yellow;
      font-size: 20px;
    }
  }

  &__notification {
    color: #8bc34a;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 2px black;
    animation: fadeIn 1.5s ease-out;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    &__form {
      width: 90%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
