@font-face {
  font-family: 'PB';
  src: url('../assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PR';
  src: url('../assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
}
@font-face {
  font-family: 'CB';
  src: url('../assets/fonts/CrimsonText-Bold.woff') format('woff');
}
@font-face {
  font-family: 'CR';
  src: url('../assets/fonts/CrimsonText-Regular.woff') format('woff');
}
