@import "../../styles/var";

.media {
  &__item {
    padding: 0 0.5rem;
  }
  &__box {
    margin: 0 auto;
    position: relative;
  }
  &__btn {
    width: 200px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    img {
      margin-left: auto;
      display: block;
    }
    p {
      font-size: 15px;
      position: absolute;
      top: 112%;
      left: 0;
      line-height: 20px;
      color: #685a5a;
      font-family: PB;
    }
    &--prev {
      right: calc(100% + 24px);
      img {
        margin-right: auto;
        margin-left: 0;
      }
    }
    &--next {
      left: calc(100% + 24px);
      text-align: right;
    }
  }
  .swiper-container {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1350px) {
  .media {
    padding: 0;
    padding-top: 50px;

    &__btn {
      position: static;
      padding: 10px;
      margin-top: 30px;
      p {
        display: none;
      }
      &--container {
        display: flex;
        min-height: 100px;
        align-items: center;
      }
    }
    &__box {
      display: flex;
      flex-direction: column-reverse;
      max-width: initial;
    }
  }
}
@media only screen and (max-width: 860px) {
  #media {
    padding: 0;
  }
}
